<div class="container">
  <div class="row">
    <ng-container *ngFor="let item of productList">
      <div class="card col-md-3">
        <img src="{{ item.image }}" alt="" />
        <h5
          style="
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100ch;
          "
        >
          {{ item.title }}
        </h5>
        <p
          style="
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100ch;
          "
        >
          {{ item.description }}
        </p>
        <p>
          <strong>Price:</strong>
          ${{ item.price }}
        </p>
        <button
          *ngIf="
            item.quantity === -1 || item.quantity === 0;
            else updateQuantity
          "
          (click)="addtocart(item)"
          class="btn-primary"
        >
          <strong>Add to Card</strong>
        </button>
        <ng-template #updateQuantity>
          <div class="row no-gutters">
            <div class="col-2">
              <button
                (click)="removefromcart(item)"
                class="btn btn-danger btn-block"
              >
                <strong>-</strong>
              </button>
            </div>
            <div class="col text-center">
              <strong>{{ item.quantity }} item</strong>
            </div>
            <div class="col-2">
              <button
                (click)="addtocart(item)"
                class="btn btn-primary btn-block"
              >
                <strong>+</strong>
              </button>
            </div>
          </div>
        </ng-template>
      </div>
    </ng-container>
  </div>
</div>
